# Python
__pycache__/
*.py[cod]
*$py.class
*.pyc
.Python
env/
venv/
fraud-env/

# Data (não incluir no container)
data/raw/
data/processed/
notebooks/
reports/

# Git
.git/
.gitignore

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Docker
Dockerfile
.dockerignore
docker-compose.yml

# Documentação
README.md
docs/
*.md